@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
input {
  font-family: "Poppins", sans-serif;
}

.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: white;
  overflow: hidden;
}

.forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.admin-user {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
  transition: 1s 0.7s ease-in-out;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 5rem;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  transition: all 0.2s 0.7s; /* This is done to have a delay when the form comes above one another and not immediately on clicking*/
}
/* 1rem = 16px */
/* bringing user login form over the admin login form */
form.user-sign-in-form {
  z-index: 2;
}

form.admin-sign-in-form {
  z-index: 1;
  opacity: 0;
}
.title {
  font-size: 2.2rem;
  color: #444444;
  margin-bottom: 10px;
}

.input-field {
  max-width: 380px;
  width: 100%;
  height: 55px;
  background-color: #f0f0f0;
  margin: 10px 0;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
  margin-top: 20px;
}

.input-field i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.1rem;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  border-radius: 55px;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333333;
  padding: 10px;
}
.input-field input:focus {
  border: 2px solid #777777;
  border-radius: 55px;
}
.input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}
.input-field small {
  color: #e74c3c;
  position: absolute;
  bottom: 0;
  left: 10px;
  margin-bottom: -20px;
  font-weight: 700;
  visibility: hidden;
}
.input-field.error small {
  visibility: visible;
}
.btn {
  width: 150px;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 50px;
  cursor: pointer;
  background-color: #5995fd;
  color: white;
  text-transform: uppercase;
  margin-top: 20px;
  transition: 0.5s;
}

.btn:hover {
  background-color: #2a38f5;
}

.forgot-password {
  padding: 0.7rem 0;
  font-size: 1rem;
}

.panels-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.container::before {
  content: "";
  position: absolute;
  width: 2000px;
  height: 2000px;
  border-radius: 50%;
  background: linear-gradient(-45deg, #4481eb 0%, #04befe 100%);
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  z-index: 6;
  transition: 1.8s ease-in-out;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 6;
}

.left-panel {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}
.right-panel {
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
}

.panel .content {
  color: #fff;
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
}

.panel h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 1.5rem;
}

.panel p {
  font-size: 0.95rem;
  padding: 0.7rem 0;
}

.btn.transparent {
  margin: 0;
  background: none;
  border: 2px solid #fff;
  width: 130px;
  height: 40px;
  font-weight: 600;
  font-size: 0.8rem;
}
/* Transition helps you with nice animation and for smooth delay increase the time between the content and image*/
.image {
  width: 100%;
  transition: 1.1s 0.4s ease-in-out;
  transition-delay: 0.4s;
}

.right-panel .content,
.right-panel .image {
  transform: translateX(800px);
}

/* ANIMATION */

.container.admin-mode::before {
  transform: translate(100%, -50%);
  right: 52%;
}

.container.admin-mode .left-panel .image,
.container.admin-mode .left-panel .content {
  transform: translateX(-800px);
}
.container.admin-mode .admin-user {
  left: 25%;
}
.container.admin-mode form.admin-sign-in-form {
  z-index: 2;
  opacity: 1;
}
.container.admin-mode form.user-sign-in-form {
  opacity: 0;
  z-index: 1;
}
.container.admin-mode .right-panel .image,
.container.admin-mode .right-panel .content {
  transform: translateX(0%);
}

.container.admin-mode .left-panel {
  pointer-events: none;
}
.container.admin-mode .right-panel {
  pointer-events: all;
}

/* Bringing admin login form over the user login form */

@media (max-width: 870px) {
  .container {
    min-height: 100px;
    height: 100vh;
  }

  .admin-user {
    width: 100%;
    left: 50%;
    top: 95%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }
  .panels-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr; /*This will create 3 rows, first only 2 rows were there*/
  }
  .panel {
    flex-direction: row; /* in this way  we create the left panel on top of the container and right panel on the bottom*/
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
    grid-column: 1/ 2;
  }
  .right-panel {
    grid-row: 3/4; /* Helps to put right panel on bottom by setting the start line to 3 and end line to 4*/
  }
  .left-panel {
    grid-row: 1/2; /* Helps to put left panel on top by setting the start line to 1 and end line to 2 */
  }
  .image {
    width: 200px;
    transition: 0.9s 0.6s ease-in-out;
  }
  .panel .content {
    padding-right: 15%;
    transition: 0.9s 0.8s ease-in-out;
  }
  .panel h3 {
    font-size: 1.2rem;
  }
  .panel p {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }
  .btn.transparent {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }
  .container::before {
    height: 1500px;
    width: 1500px;
    left: 30%;
    bottom: 60%;
    transform: translatex(-50%);
    right: initial;
    top: initial; /* By setting right and top to initial they are set to their default values and removed the previous values of this property*/
    transition: 2s ease-in-out;
  }
  .container.admin-mode::before {
    transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }
  .container.admin-mode .left-panel .image,
  .container.admin-mode .left-panel .content {
    transform: translateY(-300px);
  }
  .container.admin-mode .right-panel .image,
  .container.admin-mode.right-panel .content {
    transform: translateY(0px);
  }
  .right-panel .content,
  .right-panel .image {
    transform: translateY(300px);
  }
  .container.admin-mode .admin-user {
    top: 5%;
    transform: translate(-50%, 0);
    left: 50%;
  }
}

@media (max-width: 570px) {
  form {
    padding: 0 1.5rem;
  }
  .image {
    display: none;
  }
  .panel .content {
    padding: 0.5rem 1rem;
  }
  .container::before {
    bottom: 72%;
    left: 50%;
  }
  .container.admin-mode::before {
    bottom: 28%;
    left: 50%;
  }
}
