{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- ===== BOX ICONS ===== -->
    <link
      href="https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}" />
    <link rel="stylesheet" href="{% static 'css/visitor_registration.css' %}" />
    <title>Visitor Recognition</title>
  </head>
  <body id="body-desktop">
    <header class="header" id="header-desktop">
      <div class="header_toggle">
        <i class="bx bx-menu" id="header-toggle"></i>
      </div>
    </header>
    <div class="sidebar" id="side_bar">
      <nav class="nav">
        <div>
          <a href="{% url 'userDashboard' %}" class="logo">
            <i class="bx bx-analyse logo_icon"></i>
            <span class="logo_name">ASST</span>
          </a>
          <div class="sidebar_list">
            <a href="{% url 'userDashboard' %}" class="nav_link">
              <i class="bx bxs-dashboard nav_link_icon"></i>
              <span class="link_name">DashBoard</span>
            </a>
            <a href="{% url 'visitorRegistration' %}" class="nav_link active">
              <i class="bx bxs-user-plus nav_link_icon"></i>
              <span class="link_name">Visitor Registration</span>
            </a>
            <a href="{% url 'userReports' %}" class="nav_link">
              <i class="bx bxs-report nav_link_icon"></i>
              <span class="link_name">Reports</span>
            </a>
          </div>
        </div>
        <div>
          <a href="#" class="nav_link">
            <i class="bx bxs-certification nav_link_icon"></i>
            <span class="link_name">Settings</span>
          </a>
          <a href="{% url 'signIn' %}" class="nav_link">
            <i class="bx bx-log-out nav_link_icon"></i>
            <span class="link_name">Log Out</span>
          </a>
        </div>
      </nav>
    </div>
    <h2>Visitor Registration</h2>
    <div class="form_div">
      <form action="" method="POST" id="visitorForm">
        {% csrf_token %}
        <div class="input-field">
          <input
            type="text"
            placeholder="Visitor Name"
            id="visitorName"
            name="visitorName"
            required
          />
          <small>Error message</small>
        </div>
        <div class="input-field">
          <input
            type="text"
            placeholder="Address"
            id="visitorAddress"
            name="visitorAddress"
            required
          />
          <small>Error message</small>
        </div>
        <div class="input-field">
          <input
            type="tel"
            placeholder="Phone No"
            id="phoneNumber"
            name="phoneNumber"
            required
          />
          <small>Error message</small>
        </div>
        <div class="input-field">
          <input
            type="text"
            placeholder="Visitor's Work"
            id="visitorWork"
            name="visitorWork"
            required
          />
          <small>Error message</small>
        </div>
        <div class="input-field">
          <input
            type="text"
            placeholder="Flat No"
            id="flatNo"
            name="flatNo"
            required
          />
          <small>Error message</small>
        </div>
        <div class="input-field">
          <input
            type="text"
            placeholder="Temperature"
            id="temperature"
            name="temperature"
            required
          />
          <small>Error message</small>
        </div>
        <input type="submit" value="Register" class="btn solid" />
      </form>
    </div>
    <script src="{% static 'js/sidebar.js' %}"></script>
    <!-- <script src="{% static 'js/visitorRegistration.js' %}"></script> -->
  </body>
</html>
