{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- ===== BOX ICONS ===== -->
    <link
      href="https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/forgotPassword.css' %}" />
    <title>Forgot Password</title>
  </head>
  <body>
    <div class="main">
      <div class="container">
        <div id="square">
          <div class="front">
            <h3>Add your email to reset password</h3>
            <form action="/postForgotPassword" method="POST">
              {% csrf_token %}
              <input
                required
                type="email"
                name="email"
                id="email"
                placeholder="Email"
              />
              <button type="submit">Submit</button>
            </form>
            <a href="{% url 'signIn' %}">Back To Login?</a>
          </div>
        </div>
      </div>
    </div>
    {% if message %}
    <script>
      alert("{{ message }}");
    </script>
    {% endif %}
  </body>
</html>
